html {
    height: 100%;
    min-height: 333px;
    background: #AEF;
    /* Old browsers */
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    /* 1 em will become 20px everywhere else */
    
    height: 100%;
    min-width: 500px;
    margin: 0;
    background: -moz-linear-gradient(top, #4BF 2em, #5CE calc(60% - 4em), #AEF calc(100% - 8em));
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #4BF 2em, #5CE calc(60% - 4em), #AEF calc(100% - 8em));
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #4BF 2em, #5CE calc(60% - 4em), #AEF calc(100% - 8em));
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login-container {
    display: block;
    margin: 1em 1em 0 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #cef;
    font-weight: lighter;
    letter-spacing: 0.2px;
}
.login-container div {
    padding: 4px;
    text-align: right;
    font-size: 0.8em;
}
h1,
a {
    text-align: center;
    color: #cef;
    margin: 0;
    text-decoration: none;
}
h1 {
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 0.2px;
}
h2,
h2 a {
    font-size: 1em;
    font-weight: lighter;
    color: #CEF;
}
h3,
h3 a {
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    color: hsl(200, 100%, 95%);
    letter-spacing: 0.35px;
    display: inline-block;
}
h3 a {
    font-weight: normal;
}
.error-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: auto;
    text-align: center;
}
#link {
    margin-bottom: -2em;
    text-align: center;
}
#link a:hover {
    font-weight: bold;
    font-size: 0.9em;
}
a {
    /*font-size: 0.8em;*/
    font-weight: lighter;
}
a:hover {
    color: #fff;
    font-weight: bold;
}
.textcontainer {
    /* basically a rehash of .list from list.css */
    
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    /* change this later? */
    
    padding: 1em;
    width: 40%;
    min-width: 500px;
    height: 60%;
    min-height: 400px;
    display: block;
    /*background-color: #CEF;
    border: 10px;  imo scrolling directly into the bg looks cut off so border?
    border-style: solid;
    border-color: #FFF;
    border-radius: 20px;
    padding: 10px;*/
    /*color: #cef;*/
    
    color: hsl(200, 100%, 95%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: auto;
}
.textcontainer p {
    font-weight: 100;
    letter-spacing: 0.5px;
}
.textcontainer a {
    color: inherit;
    font-weight: 200;
}
.textcontainer a:hover {
    color: #fff;
}
.user-form-container {
    color: #666;
    width: 100%;
    display: block;
    padding: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.register input {
    color: #666;
    margin: 0 0 5px 5px;
    padding: 3px 10px 3px 10px;
    font-size: 16px;
    border-radius: 0;
    border: 0;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.register .inputLabel,
.errormsg {
    text-align: center;
    display: none;
    font-size: 0.6em;
    width: 15em;
    color: #cff;
    margin: -5px 0 5px 0;
    margin-left: auto;
    margin-right: auto;
}
.errormsg {
    display: block;
    margin-top: -4em;
}
.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
    display: block;
    text-align: left;
    height: 1.8em;
    width: 10em;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.register input[type="email"]:focus,
.register input[type="text"]:focus,
.register input[type="password"]:focus,
.register input[type="email"]:hover,
.register input[type="text"]:hover,
.register input[type="password"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
}
.register input[type="submit"],
.register input[type="button"] {
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
    color: #666;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.register input[type="submit"]:hover,
.register input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
::-webkit-input-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
input:-moz-placeholder {
    color: #999;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-ms-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
.topPlaceholder {
    position: absolute;
    top: 0;
    height: 2em;
    background-color: #4BF;
    width: 100%;
    min-width: 500px;
}
.header {
    margin: 2em 3em 1em 3em;
    width: auto;
}
.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    width: auto;
}
#wrapper {
    height: calc(100% - 6em);
    padding: 50px 50px;
    width: auto;
    overflow-x: show;
}
/*page margin 50px*/

#footer {
    width: 200%;
    height: 5em;
    background-color: #4BF;
    height: 4em;
    width: 100%;
    display: block;
    position: absolute;
    margin: 3em 0 -5em 0;
    right: -50px;
    /* account for wrapper */
    
    bottom: 0em;
}
form {
    display: block;
    margin: 0 0 3em 0;
}
article {
    min-height: 300px
}
.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}
.hidden {
    display: none !important;
}
<!--means can be overriden-->