/* SASS VARIABLES */
/* SASS EXTENSIONS AND MIXINS */
.absolute-center, .relative-center, #link input, #welcome, .errormsg, .errormsg-show, .register input, .list, .error-container, .bubble-2, .bubble, .bubble-4, .bubble-3, .user-form-container, .register input[type="submit"], .register input[type="button"], .textcontainer { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; }

.relative-center, #link input, #welcome, .errormsg, .errormsg-show, .register input, .list { position: relative; }

/* MAN THESE TOOK FOREVER TO GET RIGHT IN SASS LOL */
::-webkit-input-placeholder { color: #999; }

input:-moz-placeholder { color: #999; }

::-moz-placeholder { color: #999; }

:-ms-input-placeholder { color: #999; }

:focus::-webkit-input-placeholder { color: transparent; }

input:focus:-moz-placeholder { color: transparent; }

:focus::-moz-placeholder { color: transparent; }

:focus:-ms-input-placeholder { color: transparent; }

/* START OF CSS */
html { height: 100%; min-height: 500px; background: #AEF; overflow-x: hidden; overflow-y: scroll; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; min-height: 500px; height: calc(100% - 4em); margin: 0; background: -moz-linear-gradient(top, #4BF 2em, #5CE calc(60% - 4em), #AEF calc(100% - 8em)); background: -webkit-linear-gradient(top, #4BF 2em, #5CE calc(60% - 4em), #AEF calc(100% - 8em)); background: linear-gradient(to bottom, #4BF 2em, #5CE calc(60% - 4em), #AEF calc(100% - 8em)); background-attachment: scroll; background-size: 100% 100%; background-repeat: no-repeat; background-position: left top; }

h1 { font-size: 1.2em; font-weight: lighter; letter-spacing: 0.2px; text-align: center; color: #CEF; margin: 0; position: relative; left: -10%; }

h2, h2 a { margin: -2em 0 2em 0; font-size: inherit; font-weight: normal; position: relative; color: #CEF; }

h3, h3 a { font-size: 1em; font-weight: lighter; text-align: center; color: #CEF; letter-spacing: 0.35px; display: inline-block; }

h3 a { font-weight: normal; color: #FFF; }

a { font-weight: normal; text-decoration: none; color: #FFF; }
a:hover { color: #CEF; }

/* INPUT PLACEHOLDER TEXT */
/* WILL BE INCLUDED MANUALLY */
/* DO NOT DISPLAY SCROLL BAR */
::-webkit-scrollbar { display: none; }

/* LAYOUT TOP LINKS */
.login-container { display: inline-block; margin: 0 1em 2em 0; position: absolute; top: 9%; right: 15%; color: #CEF; font-weight: normal; letter-spacing: 0.2px; }
.login-container div { padding: 4px; text-align: right; font-size: 0.8em; }
.login-container div a { background-color: rgba(255, 255, 255, 0.2); border-radius: 1em; padding: 0.3em 0.8em; transition: background 0.25s ease-in-out; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; }
.login-container div a:hover { background-color: #CEF; color: #4BF; }
.login-container div a:active { background-color: #CEF; color: #4BF; }
.login-container .yes, .login-container .no { font-size: 1em; }

@media (max-width: 800px) { .login-container { top: 1%; height: 2em; overflow: hidden; } }
.error-container { margin-top: -1em; width: auto; text-align: center; }

#link { margin-bottom: -2em; margin-top: 3em; text-align: center; }
#link a:hover { font-weight: normal; color: #AEF; }
#link input { display: none; outline: none; transition: background 0.25s ease-in-out; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; color: #FFF; font-weight: lighter; background-color: rgba(255, 255, 255, 0.2); height: 1.5em; padding: 5px 8px; margin-bottom: 10px; font-size: 1em; border-radius: 0; border: 0; width: 45%; }
#link input:hover { background-color: rgba(255, 255, 255, 0.5); }
#link input:focus { background-color: rgba(255, 255, 255, 0.7); }

/* TUTORIAL */
#welcome { display: none; margin-top: 0em; margin-bottom: 0em; padding: 1em; border-radius: 20px; text-align: center; font-weight: normal; width: 40%; min-width: 300px; color: #FFF; background-color: rgba(0, 0, 0, 0.2); }
#welcome #newb, #welcome #pro { font-size: 0.8em; background-color: #5CE; color: #FFF; width: 40%; display: inline-block; margin-top: 0.5em; padding: 0.5em; border-radius: 20px; cursor: pointer; transition: background 0.25s ease-in-out; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; }
#welcome #newb:hover, #welcome #pro:hover { background-color: #CEF; color: #4BF; }

.bubble-2, .bubble, .bubble-4, .bubble-3 { top: 24em; width: 50%; min-width: 300px; height: 1em; display: none; z-index: 200; padding: 0.5em 0.5em 0.5em 1em; background: #CEF; color: #666; border-radius: 20px; font-size: 0.8em; }

.bubble, .bubble-4 { top: 18em; }

.bubble-2, .bubble, .bubble-4 { height: 3em; }

.bubble-4 { top: 28em; height: 3em; }

@media (min-width: 900px) { .bubble-2, .bubble, .bubble-4, .bubble-4 { height: 2em; } }
.bubble:after, .bubble-4:after, .bubble-3:after, .bubble-2:after, .bubble:after, .bubble-4:after, .bubble-3:after { content: ""; position: absolute; border-style: solid; border-width: 0 15px 15px; border-color: #CEF transparent; display: block; width: 0; z-index: 200; margin-left: -15px; top: -15px; left: 50%; }

.bubble-3:after { left: 85%; }

.bubble-4:after { left: 20%; }

/* REGISTRATION */
.user-form-container { color: #666; width: 100%; display: block; padding: 4px; align-items: center; }

.topPlaceholder { position: absolute; top: 0; height: 2em; background-color: #4BF; width: 100%; min-width: 500px; }

.yes, .no { z-index: 10; display: inline; cursor: pointer; background-color: rgba(255, 255, 255, 0.2); color: #FFF; padding: 0.2em 0.5em; border-radius: 20px; }

.yes:hover, .no:hover { font-weight: normal; background-color: #CEF; color: #4BF; }

input { outline: none; }

.errormsg, .errormsg-show { text-align: center; font-size: 0.8em; width: 15em; color: #CEF; display: none; }

.errormsg-show { display: block; }

.register .inputLabel { text-align: center; display: none; font-size: 0.8em; width: 15em; color: #CEF; margin: -5px 0 5px 0; margin-left: auto; margin-right: auto; }
.register input { outline: none; transition: background 0.25s ease-in-out; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; color: #666; padding: 3px 10px 3px 10px; margin-bottom: 10px; font-size: 16px; border-radius: 0; border: 0; }
.register input[type="text"], .register input[type="email"], .register input[type="password"] { display: block; text-align: left; height: 1.8em; width: 10em; background-color: rgba(255, 255, 255, 0.7); margin-bottom: 10px; }
.register input[type="text"]:hover, .register input[type="text"]:focus, .register input[type="email"]:hover, .register input[type="email"]:focus, .register input[type="password"]:hover, .register input[type="password"]:focus { background-color: rgba(255, 255, 255, 0.2); }
.register input[type="submit"], .register input[type="button"] { text-align: center; height: 30px; width: 100px; background-color: rgba(0, 0, 0, 0.1); border-radius: 20px; color: #FFF; }
.register input[type="submit"]:hover, .register input[type="button"]:hover { background-color: rgba(255, 255, 255, 0.7); color: #4BF; cursor: pointer; }

.header { margin: 2em 3em 1em 3em; width: auto; }
.header img { display: block; position: relative; left: -20%; margin-left: auto; margin-right: auto; height: 3em; width: auto; }

#wrapper { height: calc(80% - 6em); padding: 50px; width: auto; }

/* TEXT CONTAINER FOR ABOUT PAGE */
.textcontainer { font-size: 18px; padding: 1em; margin-top: -4em; width: 50%; min-width: 400px; height: 40%; min-height: 300px; display: block; color: #FFF; background-color: rgba(0, 0, 0, 0.1); overflow: auto; border-radius: 20px; }
.textcontainer p { font-weight: lighter; letter-spacing: 0.5px; }
.textcontainer a { color: #FFF; font-weight: normal; }
.textcontainer a:hover { color: #CEF; }

/* FOOTER DOES NOT CURRENTLY WORK */
#footer { width: 200%; height: 5em; background-color: #4BF; height: 4em; width: 100%; display: block; position: absolute; margin: 3em 0 -5em 0; right: -50px; /* account for wrapper */ bottom: 0em; }

.list { width: 50%; min-width: 300px; height: 100%; min-height: 200px; display: block; border-radius: 20px; padding: 1em; margin-top: -2em; margin-bottom: 4em; color: #666; background-color: rgba(255, 255, 255, 0.2); font-size: 18px; font-weight: normal; overflow: auto; }
.list * input { color: #666; background-color: #CEF; font-size: 16px; border: 0; outline: none; transition: background 0.25s ease-in-out; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; }
.list * input:hover { background-color: rgba(255, 255, 255, 0.2); }
.list * input:focus { background-color: rgba(255, 255, 255, 0.5); }
.list .listTitle { width: 100%; height: 3em; background-color: transparent; margin: 0 0 0.5em 0; }
.list .listTitle input { height: 100%; width: calc(100% - 2em); background-color: transparent; padding: 0 1em; outline: none; border: 0; border-radius: 20px; text-align: center; font-size: 1.2em; }
.list .listTitle input:focus { background-color: rgba(255, 255, 255, 0.5); }
.list .listItem { width: 100%; min-height: 2em; background-color: transparent; border-radius: 20px; margin: 0; margin-bottom: 1em; padding: 0; position: relative; display: inline-block; }
.list .votes { display: none; width: 10%; min-height: 2em; background-color: #AEF; border-radius: 20px; margin-right: -5px; margin-bottom: 1em; right: -10%; padding: 0; position: absolute; }
.list .votes div { color: #999; font-size: 1em; position: absolute; padding-top: 15%; padding-left: 20%; letter-spacing: 0.8px; font-weight: lighter; }

/* SPECIFICS OF EACH LIST ITEM */
.listItem .itemTitle { position: relative; display: block; width: 100%; height: 2em; background-color: transparent; border-radius: 20px 20px 0 0; padding: 0; margin: 0; }
.listItem .itemTitle input { background-color: #AEF; padding: 0 2.5em 0 1em; margin: 0; border-radius: 20px; height: 100%; width: calc(100% - 3.5em); }
.listItem .attributes { border-radius: 0 0 20px 20px; display: none; overflow: hidden; }
.listItem .attributes .attribute { overflow: hidden; width: 100%; height: 2em; display: block; padding: 0; margin: 0; border-radius: 0; }
.listItem .attributes .attribute .key, .listItem .attributes .attribute .value { display: inline-block; height: 100%; margin: 0; width: 30%; }
.listItem .attributes .attribute .value { width: 70%; }
.listItem .attributes .attribute .key input, .listItem .attributes .attribute .value input { float: left; width: calc(100% - 2em); height: 100%; padding: 0 1em; }
.listItem .attributes .attribute .value input { padding: 0 2.5em 0 1em; width: calc(100% - 3.5em); }
.listItem .attributes .attribute:last-child { border-radius: 0 0 20px 20px; }

/* DEFAULT SPRITE IS DOWN ARROW */
.icon, .icon-down, .icon-minus, .icon-heart, .icon-trash-2, .mylists .listBlock3 .icon-container .icon-back, .mylists .listBlock3 .icon-container .icon-settings-2, .mylists .listBlock3 .icon-container .icon-share, .mylists .listBlock3 .icon-container .icon-edit, .mylists .listBlock3 .icon-container .icon-view, .mylists .listBlock3 .icon-container .icon-link, .mylists .listBlock3 .icon-container .icon-trash, .mylists .icon-settings { background-image: url("/static/img/icons.svg"); background-size: 18em 4.5em; background-clip: border-box; background-repeat: no-repeat; background-position: 0 0; display: block; width: 1.5em; height: 1.5em; position: absolute; padding: 0; margin: 0; z-index: 100; }
.icon:hover, .icon-down:hover, .icon-minus:hover, .icon-heart:hover, .icon-trash-2:hover, .mylists .listBlock3 .icon-container .icon-back:hover, .mylists .listBlock3 .icon-container .icon-settings-2:hover, .mylists .listBlock3 .icon-container .icon-share:hover, .mylists .listBlock3 .icon-container .icon-edit:hover, .mylists .listBlock3 .icon-container .icon-view:hover, .mylists .listBlock3 .icon-container .icon-link:hover, .mylists .listBlock3 .icon-container .icon-trash:hover, .mylists .icon-settings:hover { background-position-y: -3em; }

.icon-down { right: 0.3em; top: 0.3em; }

.icon-minus { position: relative; right: calc(-100% + 26px + .3em); top: -2em; background-position: -4.5em 0; }

.icon-heart { right: 1.9em; top: 0.3em; background-position: -6em 0; display: none; }

.icon-trash-2 { background-position: -15em 0; top: 0.3em; right: 3.5em; display: none; }

/* MY LISTS INTERFACE */
.mylists { height: 80%; min-height: 550px; }
.mylists #wrapper { height: 80%; overflow: hidden; position: relative; }
.mylists .listBlock { left: 10%; border-radius: 20px 0 0 0; background-color: #CEF; }
.mylists .listBlock2, .mylists .listBlock3 { left: 50%; right: 20%; border-radius: 0 20px 0 0; overflow: hidden; }
.mylists .listBlock, .mylists .listBlock2, .mylists .listBlock3 { display: inline-block; position: absolute; height: 65%; min-height: 10em; width: 40%; background-color: transparent; border: 0px; padding: 3em 0 0 0; margin: -2em 0.5em 0.5em; color: #333; text-align: center; overflow: hidden; }
.mylists .listBlock3 { color: #666; display: none; }
.mylists .listBlock3 .listPerms { height: 100%; width: 100%; position: relative; overflow: hidden; background-color: rgba(255, 255, 255, 0.2); }
.mylists .listBlock3 .back { text-align: left; position: relative; width: 50%; height: 0.8em; padding: 0.5em 1em 0.7em 2em; border-radius: 20px; background-color: rgba(255, 255, 255, 0.2); }
.mylists .listBlock3 .icon-container { width: 1.5em; padding-left: 0.5em; height: 100%; position: absolute; left: 0; }
.mylists .listBlock3 .icon-container .icon-back, .mylists .listBlock3 .icon-container .icon-settings-2, .mylists .listBlock3 .icon-container .icon-share, .mylists .listBlock3 .icon-container .icon-edit, .mylists .listBlock3 .icon-container .icon-view, .mylists .listBlock3 .icon-container .icon-link, .mylists .listBlock3 .icon-container .icon-trash { display: block; position: relative; background-position: -3em 0; top: 3.5em; }
.mylists .listBlock3 .icon-container .icon-settings-2 { top: 0.5em; background-position: -7.5em 0; }
.mylists .listBlock3 .icon-container .icon-share { background-position: -12em 0; top: 1em; }
.mylists .listBlock3 .icon-container .icon-edit { background-position: -13.5em 0; top: 1.5em; }
.mylists .listBlock3 .icon-container .icon-view { background-position: -16.5em 0; top: 2em; }
.mylists .listBlock3 .icon-container .icon-link { background-position: -9em 0; top: 2.5em; }
.mylists .listBlock3 .icon-container .icon-trash { background-position: -15em 0; top: 3em; }
.mylists .listBlock3 .options { width: calc(100% - 2em); height: calc(100% - .2em); padding-top: 0.6em; display: inline-block; position: absolute; left: 2em; }
.mylists .listBlock3 .options table { border-collapse: collapse; border-spacing: 0; cell-spacing: 0; width: 100%; height: 100%; font-size: 0.8em; }
.mylists .listBlock3 .options tr { width: 100%; height: 2em; padding: 4px 0 4px 0; margin: 0; display: block; }
.mylists .listBlock3 .options td { height: 2em; width: 100%; text-align: left; display: block; }
.mylists .listBlock3 .options div { position: relative; padding: 0 0.5em; display: block; }
.mylists .listBlock3 .options input { width: calc(100% - 1.2em); height: 1.5em; display: block; position: relative; left: 0.5em; color: #666; font-size: inherit; outline: none; border: 0; margin-top: -0.2em; padding: 0 0.5em 0 0.2; background-color: transparent; transition: background 0.25s ease-in-out; -moz-transition: background 0.25s ease-in-out; -webkit-transition: background 0.25s ease-in-out; }
.mylists .listBlock3 .options input:hover, .mylists .listBlock3 .options input:focus { background-color: rgba(255, 255, 255, 0.5); }
.mylists .listBlock3 .options select { outline: none; border: none; padding: 0; margin-left: -0.5em; height: 1.5em; width: 100%; font-size: inherit; background-color: transparent; color: #666; }
.mylists .listBlock3 .options select:hover { background-color: rgba(255, 255, 255, 0.2); }
.mylists .listBlock3 .options select option { height: 1.5em; background-color: rgba(255, 255, 255, 0.5); }
.mylists .listBlock3 .title { padding: 0.5em 0; background-color: #AEF; }
.mylists .hideOverflow { overflow: scroll; height: 100%; }
.mylists .scrollWrapper { overflow: auto; height: 100%; }
.mylists .blockTitle { position: absolute; width: 100%; top: 0; height: 2em; padding-top: 1em; background-color: rgba(0, 0, 0, 0.1); color: #FFF; text-align: center; font-weight: bold; letter-spacing: 2px; }
.mylists .listHead { width: 100%; height: 1.5em; padding-bottom: 0.5em; }
.mylists .listHead .titles, .mylists .listHead .times { padding-top: 0.5em; height: 100%; width: 50%; display: inline-block; text-align: center; color: #666; background-color: #AEF; margin: 0; }
.mylists .listHead .times { padding-right: 1.8em; width: calc(50% - 1.8em); }
.mylists .listWrapper { margin: 0; margin-top: -1.5em; overflow: auto; }
.mylists .listWrapper .mylist { height: 1em; width: calc(100% - 2em); background-color: rgba(255, 255, 255, 0.2); border-radius: 0; padding: 0.8em 1em 0.5em; margin: 0; display: block; }
.mylists .listWrapper .mylist:hover { background-color: rgba(255, 255, 255, 0.5); }
.mylists .listWrapper .mylist .listTitle, .mylists .listWrapper .mylist .listTitle a, .mylists .listWrapper .mylist .listTime, .mylists .listWrapper .mylist .listTime a { width: 50%; display: inline-block; color: #666; text-decoration: none; text-align: center; font-weight: normal; overflow-x: scroll; white-space: nowrap; position: relative; font-size: 0.8em; }
.mylists .listWrapper .mylist .listTime { padding-right: 1.8em; width: calc(50% - 1.8em); }
@media (max-width: 800px) { .mylists .listBlock, .mylists .listBlock2, .mylists .listBlock3 { display: block; position: relative; left: 10%; height: 30%; width: 80%; overflow: hidden; min-height: 10em; }
  .mylists .listBlock { border-radius: 20px 20px 0 0; }
  .mylists .listBlock2, .mylists .listBlock3 { border-radius: 0; margin-top: 0; top: 0; }
  .mylists .listBlock2 .blockTitle, .mylists .listBlock3 .blockTitle { background-color: rgba(0, 0, 0, 0.2); }
  .mylists .listBlock3 { display: none; } }
.mylists iframe { display: block; border: none; height: 100%; }
.mylists .icon-settings { position: relative; background-position: -7.5em 0; display: block; top: 2em; left: calc(100% - 1.8em); margin: 0; width: 1.5em; }

@media (max-width: 800px) { body { height: 100%; } }
/* CLOUDS!! */
#clouds { padding: 100px 0; background: transparent; position: absolute; top: 0em; z-index: 0; height: 5em; }
#clouds .cloud { width: 7em; height: 3em; background: #fff; border-radius: 8em; position: relative; }
#clouds .cloud:before, #clouds .cloud:after { content: ""; position: absolute; background: #FFF; width: 4em; height: 3em; position: absolute; top: -1em; left: 0.8em; border-radius: 3em; -webkit-transform: rotate(30deg); transform: rotate(30deg); -moz-transform: rotate(30deg); }
#clouds .cloud:after { width: 3em; height: 4em; top: -1em; left: auto; right: 1em; }
#clouds .x1 { -webkit-animation: moveclouds 60s linear infinite; -moz-animation: moveclouds 60s linear infinite; -o-animation: moveclouds 60s linear infinite; opacity: 0.1; }
#clouds .x2 { left: 10%; -webkit-transform: scale(0.6); -moz-transform: scale(0.6); transform: scale(0.6); opacity: 0.15; -webkit-animation: moveclouds 75s linear infinite; -moz-animation: moveclouds 75s linear infinite; -o-animation: moveclouds 75s linear infinite; }
#clouds .x3 { left: -20%; top: -40%; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); opacity: 0.2; -webkit-animation: moveclouds 80s linear infinite; -moz-animation: moveclouds 80s linear infinite; -o-animation: moveclouds 80s linear infinite; }
#clouds .x4 { left: 50%; top: -30%; -webkit-transform: scale(0.75); -moz-transform: scale(0.75); transform: scale(0.75); opacity: 0.15; -webkit-animation: moveclouds 90s linear infinite; -moz-animation: moveclouds 90s linear infinite; -o-animation: moveclouds 90s linear infinite; }
#clouds .x5 { left: -10%; top: -100%; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); opacity: 0.2; -webkit-animation: moveclouds 70s linear infinite; -moz-animation: moveclouds 70s linear infinite; -o-animation: moveclouds 70s linear infinite; }
@-webkit-keyframes moveclouds { 0% { margin-left: 1000px; }
  100% { margin-left: -1000px; } }
@-o-keyframes moveclouds { 0% { margin-left: 1000px; }
  100% { margin-left: -1000px; } }
@-moz-keyframes moveclouds { 0% { margin-left: 1000px; }
  100% { margin-left: -1000px; } }
#hidden { display: none; }

/*# sourceMappingURL=style_all.css.map */
