::-webkit-scrollbar {
    display: none;
    /* thank god for Chrome :P (and that they only check Chrome) */
}
.list {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 50%;
    min-width: 300px;
    height: 100%;
    min-height: 200px;
    display: block;
    background-color: #CEF;
    border: 0px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 20px;
    padding: 10px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    overflow: auto;
}
.list * input {
    color: #666;
    font-size: 16px;
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    /* same as 12pt font */
}
.list * input:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.list * input:focus {
    background-color: rgba(255, 255, 255, 0.5);
}
.list .listTitle {
    width: 100%;
    height: 3em;
    background-color: transparent;
    margin: 0 0 .5em 0;
}
.listTitle input {
    height: 100%;
    width: calc(100% - 2em);
    background-color: transparent;
    padding: 0 1em;
    outline: none;
    border: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
}
.listTitle input:focus {
    background-color: rgba(255, 255, 255, 0.8);
}
.list .listItem {
    width: 100%;
    min-height: 2em;
    background-color: rgba(150, 150, 255, 0);
    border-radius: 20px;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    position: relative;
}
.listItem img {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: .3em;
    top: .3em;
}
.icon {
    background-image: url("/static/img/icons.svg");
    background-size: 18em 4.5em;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.icon-down {
    right: .3em;
    top: .3em;
}
.icon-minus {
    position: relative;
    right: calc(-100% + 26px + .3em);
    top: -2em;
    background-position: -4.5em -1.5em;
}
.icon-heart {
    right: 2.1em;
    top: .3em;
    background-position: -6em 0;
}
.list .lastListItem {
    height: 2em;
    border-radius: 20px;
    background-color: rgba(150, 150, 255, 0);
}
.list .lastListItem input {
    width: calc(100% - 2em);
    height: 100%;
    border-radius: 20px;
    padding: 0 1em;
}
.itemTitle {
    position: relative;
    display: block;
    width: 100%;
    height: 2em;
    background-color: transparent;
    border-radius: 20px 20px 0 0;
    padding: 0;
    margin: 0;
}
.itemTitle input {
    background-color: #9DF;
    padding: 0 5em 0 1em;
    margin: 0;
    border-radius: 20px;
    height: 100%;
    width: calc(100% - 6em);
}
.attributes {
    border-radius: 0 0 20px 20px;
    display: none;
}
.attribute {
    width: 100%;
    height: 2em;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.lastAttribute {
    height: 2em;
    border-radius: 0 0 20px 20px;
}
.lastAttribute input {
    width: calc(100% - 2em);
    height: 100%;
    border-radius: 0 0 20px 20px;
    padding: 0 1em;
}
.key,
.value {
    display: inline-block;
    height: 100%;
    margin: 0;
}
.key {
    width: 20%;
}
.value {
    width: 80%;
}
.key input,
.value input {
    float: left;
    width: calc(100% - 2em);
    height: 100%;
    padding: 0 1em;
}
.value input {
    padding: 0 2.5em 0 1em;
    width: calc(100% - 3.5em);
}
.yes,
.no {
    display: inline;
    cursor: pointer;
}
.yes:hover,
.no:hover {
    font-weight: bold;
    font-size: 0.9em;
}