.list {
    font-family: 'Cabin', sans-serif;
    
    width: 40%;
    min-width: 250px;
    height: 60%;
    min-height: 250px;
    
    /* eh these might be vestiges from testing */
    display: inline-block;
    float: left;
    
    padding: 20px;
    
    border-radius: 20px;
    border-color: #99f;
    border-style: solid;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    
    /* centers element on page */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.list li {
    display: block;
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 5%;
    margin-bottom: 1em;
    /*#tony-note: absolute positioning makes all the li's
    overlap--probably not desired behavior ^_^*/
    position: relative;
    width: 90%;
    height: 1.6em;
}

.list input {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    border-style: solid;
    border-color: #ccf;
    border-radius: 5px;

    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
    
    display: block;
    min-height: 1.4em;
    height: 100%;
    padding: 4px;
    margin: 2px 0 2px 0;
    
    width: 100%;
    font-size: 1em;
}

/*
the last input box should be special: if clicked it will
spawn another input box after it (think Google Forms'
form creation interface).
*/
.list li:last-child input {
    background-color: rgba(255, 255, 255, 0.1);
}

.list input:hover, .list input:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px;
}

/* arrow to expand and show list (like the cars screenie you sent) */
.list img {
    display: inline-block;
    position: absolute;
    
    right: 2%;
    top: .4em;
    height: 1.4em;
    width: 1.4em;
}

/* subsequent list of attributes */
.list li ul {
    display: none;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
}