::-webkit-scrollbar { 
    display: none; /* thank god for Chrome :P (and that they only check Chrome) */
}
.lists {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    
    width: 70%;
    min-width: 400px;
    height: 60%;
    min-height: 400px;
    display: block;
    
    background-color: #AEF;
    border: 0px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 20px;
    padding: 0;
    
    color: #666;
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    
    overflow: auto;
}
.listTitle {    
    margin: 0 0 .5em 0;
    
    height: 0em; /* this is due to the padding up and down */
    width: calc(100% - 2em);
    background-color: transparent;

    padding: 1em 1em;
    border: 0;
    border-radius: 20px;
    
    text-align: center;
    font-size: 1.2em;
}
.list {
    height: 2em;
    width: calc(100% - 2em);
    background-color: rgba(255,255,255,0.5);
    
    border-radius: 0px;
    padding: 1em;
    margin: 0 0 0 0;
}
.box{
    display: none;
    width: 100%;
}
a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}