::-webkit-scrollbar { 
    display: none; /* thank god for Chrome :P (and that they only check Chrome) */
}
#wrapper{height: 80%;}
body {height: calc(100% - 2em);}

.listBlock, .listBlock2 {
    display: inline-block;
    position: absolute;
    height: 50%;
    width: 40%;
    
    background-color: transparent;
    border: 0px;
    padding: 3em 0 0 0; /* absolute positioning places labels here */
    margin: 0.5em;
    
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    
    overflow: hidden;
}
.scrollWrapper {
    overflow: scroll;
    height: 100%;
}
.listBlock {
    left: 10%;
    border-radius: 20px 0 0 0;
    background-color: #CEF;
}
.listBlock2 {
    left: 50%;
    right: 20%;
    border-radius: 0 20px 0 0;
    overflow: hidden;
}
.blockTitle {
    position: absolute;
    width: 100%;
    top: 0;
    height: 2em;
    padding-top: 1em;
    background-color: #3AF;
    color: #CEF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}
/* implement later 
@media (max-width:800px) {
    .listBlock {
        float: none;
    }
}*/
.listHead {
    width: 100%;
}
.titles, .times {
    padding-top: 0.5em;
    height: 1.5em;
    width: 50%;
    display: inline-block;
    text-align: center;
    color: #555;
    background-color: #9DF;
    font-weight: normal;
    margin: 0;
}
.listWrapper {
    margin: 0;
}
.list {
    height: 1em; /* padding covers height too */
    width: calc(100% - 2em);
    background-color: #CFF;
    border-radius: 0;
    padding: 0.5em 1em;
    margin: 0;
    display: block;
}
.list:hover{
    background-color: #AEF;
}
.listTitle, .listTitle a, .listTime, .listTime a {
    width: 50%;
    display: inline-block;
    
    color: #666;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}
iframe {
    display: block;
    border: none;
    height: 100%;
}
.icon {
    background-image: url("/static/img/icons.svg");
    background-size: 18em 4.5em;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: -12em 0;
    
    display: block;
    width: 1.5em;
    height: 1.5em;

    position: relative;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.icon-share {
    left: .5em;
    top: .5em;
}
.icon-view {
    left: .5em;
    top: 1em
}
.icon-edit {
    left: .5em;
    top: 1.5em
}
.icon-link {
    background-position: -9em 0;
    left: .5em;
    top: -0.5em;
}
.toolbox {
    width: 100%;
    /*height: 4.5em;*/
    height: 10em;
    
    background-color: #9DF;
    display: none;
}
.toolbox input {
    width: calc(100% - 5em);
    height: 2em;
    display: inline-block;
    position: relative;
    top: -2.5em;
    right: -1em;

    color: #666; 
    font-size: 16px;
    border: 0;
    outline: none;
    padding: 0 .5em;
    
    background-color: #9DF;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.toolbox input:hover, .toolbox input:focus {
    background-color: #fff;
}
.toolbox .permissions {
    width: calc(100% - 5em);
    /*height: 1.5em; /* top padding */
    height: 8em;
    position: relative;
    left: 3em;
    top: -1.4em;
    display: block;
    
    border: 0;
    outline: none;
    padding: .5em .5em 0;
    
    color: #666;
    font-size: 16px;
    text-align: left;
}
.permissions .line {
    height: 1.8em;
    padding-top: .2em;
    display: block;
}