{% extends "layout.html" %}
{% block title %}
login
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/useraccount.js') }}"></script>

<section id="wrapper">
<article>
{% if not (current_user.is_authenticated) %}
    <div class="errormsg-show">{{ success }}</div>
        <div class="user-form-container">
            <form id="signin" method='POST' action="/signin" onsubmit="signin(this)">
                <div class="register">
                    <input type="text" class="inputField" id="uid" name="uid" placeholder="Username" required>
                    <div class="inputLabel">Please enter your username</div>
                    <input type="password" class="inputField" id="password" name="password" placeholder="Password" required>
                    <div class="inputLabel">Please enter your password</div>
                    <br>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </form>
</div>
{% endif %}
    
{% if (current_user.is_authenticated) %}
    <div class="error-container"><h3>Oops! You've already logged in!<br>Click <a href='/'>here</a> to return to home or <a href='/mylists'>here</a> to manage your lists.</h3></div>
{% endif %}
</article>
</section>
{% endblock %}