.list {
    width: 40%;
    min-width: 250px;
    height: 60%;
    min-height: 250px;
    
    display: inline-block;
    float: left;
    padding: 20px;
    
    border-radius: 20px;
    border-color: #99f;
    border-style: solid;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.list input {
    background-color: rgba(255, 255, 255, 0);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: #ccf;
    
    height: 1.4em;
    padding: 4px;
    width: 100%;
    
    font-size: 1em;
}

.list input:hover, .list input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}