{% extends "layout.html" %}
{% block title %}
about
{% endblock %}

{% block content %}
<section id="wrapper">

<p></p>
<div class="textcontainer">
	<p>Lists are everywhere&mdash;groceries lists, wish lists, to-do lists&mdash;you get the idea. So we&rsquo;ll make it easy for you: with Catalist, you can make lists anywhere and share them with anyone. Just start typing, and we&rsquo;ll take care of the rest.</p>
	<p>Catalist was developed by Menghua Wu &rsquo;19 and Tony Zhang &rsquo;19 for <a href="http://6.148.scripts.mit.edu/2016/">6.148</a> at MIT. Please don&rsquo;t hesitate to contact us at <a href="mailto:catalist-dev@mit.edu">catalist-dev@mit.edu</a> if you have any comments, suggestions, or bug reports.</p>
</div>
</section>
{% endblock %}
