{% extends "layout.html" %}
{% block title %}
about
{% endblock %}

{% block content %}
<section id="wrapper">

<p></p>
<!-- <h3>Oops! It looks like what you're looking for isn't there! Return <a href="{{ url_for('index') }}">home</a>.</h3> -->
<div class="textcontainer">
	<p>Lists are everywhere. We make groceries lists, wish lists, to-do lists, &hellip; you get the idea. <strong style="color: red">Add more text here lorem ipsum sit dolor</strong>.</p>
	<p>Catalist was developed by Rachel Wu &rsquo;19 and Tony Zhang &rsquo;19 for <a href="http://6.148.scripts.mit.edu/2016/">6.148</a> at MIT. Please don&rsquo;t hesitate to contact us at <a href="mailto:catalist-dev@mit.edu">catalist-dev@mit.edu</a> if you have any comments, suggestions, or bug reports.</p>
</div>
</section>
{% endblock %}
