{% extends "layout.html" %}
{% block title %}
{% endblock %}


{% block content %}

<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/list.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>

<section id="wrapper">
    <div class="list">
        <div class="listItem">
            <!--list item-->
            <div class="itemTitle"><input type="text"></div>
            <img src="{{ url_for('static', filename='img/down.svg') }}">
            <div class="attributes">
                <!--all item attributes-->
                <div class="attribute">
                    <!--single item attribute-->
                    <div class="key">
                        <input type="text">
                    </div>
                    <div class="value">
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="addRow"> <!--id because unique last element-->
            <input type="text" value=" +" disabled>
        </div>
    </div>
</section>
{% endblock %}
