{% extends "layout.html" %}
{% block title %}
Take your lists to the clouds and beyond.
{% endblock %}


{% block content %}

<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/list.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>

<section id="wrapper">
    <div class="list">
        <div class="listTitle">
            <input type="text" placeholder="Title">
        </div>
        <div class="listItem">
            <!--list item-->
            <div class="itemTitle">
                <input type="text" placeholder="Item">
            </div>
            <img src="/static/img/down.svg">
            <div class="attributes">
                <!--all item attributes-->
                <div class="attribute">
                    <!--single item attribute-->
                    <div class="key"
                        ><input type="text" placeholder="Key"
                    ></div
                    ><div class="value"
                        ><input type="text" placeholder="Value"
                    ></div
                    ><div class="minus"></div>
                </div>
                <div class="lastAttribute">
                    <input type="text" value=" +" disabled>
                </div>
            </div>
        </div>
        <div class="lastListItem">
            <!--id because unique last element-->
            <input type="text" value=" +" disabled>
        </div>
    </div>
</section>
{% endblock %}
