{% extends "layout.html" %}
{% block title %}
{% endblock %}


{% block content %}

<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/list.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>

<section id="wrapper">
    <div class="list">
        <ul>
            <li><input type="text"></li>
            <li><input type="text" value="click here to add" disabled></li>
        </ul>
    </div>
</section>
{% endblock %}
