<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<title>Catalist</title>
<!--external stylesheets and scripts-->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style_all.css') }}">
<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16.png') }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32.png') }}" sizes="32x32">

</head>
<body>
    <!--placeholder cuz I'm bad at CSS lol-->
    <div class="topPlaceholder"></div>
    <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
 
    <div class="header">
	   <a href="/"><img src="/static/img/logo.svg"></a>
        <!--title block is an optional bit, like a header to each page-->
        
        <p><h1>{% block title %}{% endblock %}</h1></p>
    
    </div>
        
    <div class="login-container">
        <div>
            <a href="/about">about</a> &#183; 
            {% if not (current_user.is_authenticated) %}<a href="/login">login</a> &#183; <a href="/register">register</a>{% endif %}
            {% if current_user.is_authenticated %}<a href="/mylists">my lists</a> &#183; <a href="/logout">logout</a><p><b>Hello, {{ get_id() }}!</b></p>{% endif %}
        </div>
        
    </div>
    <p align='center'>
        <h2><div id="link">{{ message|safe }}</div></h2>
    </p>

{% block content %}
{% endblock %}

</body>
</html>
