{% extends "list-generic.html" %}

{% block listcontent %}

{% for entry in entries %}
<div class="listItem">
    <!--list item-->
    <div class="icon-heart icon"></div> 
    <div class="itemTitle">
        <input type="text" placeholder="Item" value="{{ entry.title|e }}">
    </div>
    <div class="icon-down icon"></div> 
    <div class="attributes">
        <!--all item attributes-->
        {% for kvp in entry.contents %}
        <div class="attribute">
            <!--single item attribute-->
            <div class="key"
                ><input type="text" placeholder="Key" value="{{ kvp.key|e }}"
            ></div
            ><div class="value"
                ><input type="text" placeholder="Value" value="{{ kvp.value|e }}"
            ></div
            ><div class="icon-minus icon"></div>
        </div>
        {% endfor %}
        {% if entry.contents|length is equalto 0 %}
        <div class="attribute">
            <!--single item attribute-->
            <div class="key"
                ><input type="text" name="contents[][1][0]" placeholder="Key"
            ></div
            ><div class="value"
                ><input type="text" name="contents[][1][1]" placeholder="Value"
            ></div
            ><div class="minus"></div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if entries|length is equalto 0 %}
<div class="listItem">
    <!--list item-->
    <div class="itemTitle">
        <input type="text" placeholder="Item">
    </div>
    <div class="icon-down icon"></div>
    <div class="attributes">
        <div class="attribute">
            <!--single item attribute-->
            <div class="key"
                ><input type="text" placeholder="Key"
            ></div
            ><div class="value"
                ><input type="text" placeholder="Value"
            ></div
            ><div class="icon-minus icon"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}



