{% extends "layout.html" %}
{% block title %}
My Lists
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/mylists.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mylists.css') }}">

<p align="center"><h2><div id="link">{{ message }}</div></h2></p>

<section id="wrapper">
    <!--src of iframe will be edited in jquery later upon choosing a list to preview-->
    <div class="listBlock">
        <div class="blockTitle">LIVE PREVIEW</div>
        <div class="scrollWrapper">
            <iframe src={{urls[0]}} width = "100%" height = "200px"></iframe>
        </div>
    </div>
    <div class="listBlock2">
        <div class="blockTitle">LISTS</div>
        <div class="listHead">
            <div class="titles">Titles</div><div class="times">Last Modified</div>
        </div>
        <div class="scrollWrapper">
            
        <div class="listWrapper">
        <div class="list">
            <input type="hidden" value=""}>
            <a href="/"><div class="listTitle">title</div></a
            ><div class="listTime">1 hour ago</div
        ></div>
        <div class="toolbox">
            <div class="icon-container">
                <div class="icon-share icon"></div>
                <div class="icon-edit icon"></div>
                <div class="icon-view icon"></div>
                <div class="icon-link icon"></div>
                <div class="icon-trash icon"></div>
            </div>
            <div class="permissions">
                <div class="line">You are the owner of this list.</div>
                <input class="editors" id="edit" type="text" placeholder="List of editors">
                <input class="editors" id="view" type="text" placeholder="List of viewers">
                <input class="editors" id="url" type="text" placeholder="URL">
                <input class="editors" id="delete" type="text" placeholder="Type 'delete' to delete list.">
            </div>
        </div>
        </div>
            
        <div class="listWrapper">
        <div class="list">
            <input type="hidden" value=""}>
            <a href="/"><div class="listTitle">title</div></a
            ><div class="listTime">1 hour ago</div
        ></div>
        <div class="toolbox">
            <div class="icon-container">
                <div class="icon-share icon"></div>
                <div class="icon-link-2 icon"></div>
            </div>
            <div class="permissions">
                <div class="line">You may edit and view this list.</div>
                <input class="editors" id="url" type="text">
            </div>
        </div>
        </div>
            
        {% for i in range(n) %}
        <div class="listWrapper">
        <div class="list">
            <input type="hidden" value={{urls[i]}}>
            <a href={{urls_actual[i]}}><div class="listTitle">{{titles[i]}}</div></a
            ><div class="listTime">{{last_visited[i]}}</div
        ></div>
        <div class="toolbox">
            <input type="hidden" value={{permissions[i]}}>
            <div class="icon-link icon"></div><input class="link" type="text" value={{ urls_actual[i] }}>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
