{% extends "layout.html" %}
{% block title %}
My Lists
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/mylists.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mylists.css') }}">

<p align="center"><h2><div id="link">{{ message }}</div></h2></p>

<section id="wrapper">
    
    <div class="lists">
        <div class="listTitle">
            list of clickable things to sort
        </div>
        
        {% for i in range(n) %}
        <div class="list">
            <div class="title">
            <a href={{urls[i]}}>{{titles[i]}}</a><div class="box"><iframe src="/" width = "100%" height = "200px"></iframe></div></div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
