<!-- to make previews easier, this is a completely standalone page -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<title>Catalist</title>
<!--external stylesheets and scripts-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static',filename='js/preview.js')}}"></script>
<!--page icon-->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16.png') }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32.png') }}" sizes="32x32">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/preview.css') }}">

</head>
<body>

<section id="wrapper">
    <div class="list">
        <div class="listTitle">
            <input type="text" placeholder="Title" value="{{ listtitle|e }}" disabled>
        </div>
        {% for entry in entries %}
        <div class="listItem">
            <!--list item-->
            <div class="icon-heart icon"></div> 
            <div class="itemTitle">
                <input type="text" placeholder="Item" value="{{ entry.title|e }}" disabled>
            </div>
            <div class="icon-down icon"></div> 
            <div class="attributes">
                <!--all item attributes-->
                {% for kvp in entry.contents %}
                <div class="attribute">
                    <!--single item attribute-->
                    <div class="key"
                        ><input type="text" placeholder="Key" value="{{ kvp.key|e }}" disabled
                    ></div
                    ><div class="value"
                        ><input type="text" placeholder="Value" value="{{ kvp.value|e }}" disabled
                    ></div
                    >
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>

    
</body>
</html>