{% extends "layout.html" %}
{% block title %}
Account Registration Page
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/useraccount.js') }}"></script>

<section id="wrapper">
    <article>
        <div class="errormsg"></div>
        <div class="user-form-container">
            <form action="/signup" method="POST" onsubmit="return signup(this)">
                <div class="register">
                    <input type="email" class="inputField" name="email" placeholder="Email" required>
                    <div class="inputLabel">Please enter your email.</div>
                    <input type="text" class="inputField" name="uid" placeholder="Username" required>
                    <div class="inputLabel">Note: Username must be between 4 and 12 characters.</div>
                    <input type="password" class="inputField" name="password" placeholder="Password" required>
                    <div class="inputLabel">Note: Password must be between 4 and 12 characters, and contain at least 1 number.</div>
                    <br>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </article>
</section>
{% endblock %}