{% extends "layout.html" %}
{% block title %}
Account Registration Page
{% endblock %}

{% block content %}
<section id="wrapper">
    <article>
        <div class="register-container">
            <div>
                <div>Please enter your email.</div>
            </div>
            <div>
                <div>Please select a username.</div>
            </div>
            <div>
                <div>Please select a password.</div>
            </div>
        </div>
        <div class="register-container">
            <form action="/signup" method="POST" onsubmit="return signup(this)">
                <div class="register">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="text" name="uid" placeholder="Username" required>
                    <!--<label for="uid">Note: Username must contain between 4 and 12 characters.</label>-->
                    <input type="password" name="password" placeholder="Password" required>
                    <br>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </article>
</section>
{% endblock %}